:root{
    --verde: #bdf7bd;
    --branco: #ffffff;
    --preto: #000000;
}
*{
    color: var(--corDaFonte);
    font-family: helvetica;
}
body{
    background: var(--corDeFundo);
}
ul{
    font-family: helvetica;
}
li{
    list-style: circle;
}
.lista{
    list-style: square;
}
.tema-claro{
    --corDeFundo: var(--verde);
    --corDaFonte: var(--preto);
    --corDeFundoDoBotao: var(--preto);
    --corDaFonteDoBotao: var(--branco);
}
.tema-escuro{
    --corDeFundo: var(--preto);
    --corDaFonte: var(--verde);
    --corDeFundoDoBotao: var(--branco);
    --corDaFonteDoBotao: var(--preto);
}
.botao{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50;
    width: 50;
    border-radius: 50%;
    border: none;
    color: var(--corDaFonteDoBotao);
    background-color: var(--corDeFundoDoBotao);
}
.botao:focus{
    outline-style: none;
}