:root{
    --verde: #bdf7bd;
    --branco: #ffffff;
    --preto: #000000;
}
*{
    color: var(--corDaFonte);
    font-family: helvetica;
}
body{
    background: var(--corDeFundo);
}
ul{
    font-family: helvetica;
}
li{
    list-style: circle;
}
.lista{
    list-style: square;
}
.tema-claro{
    --corDeFundo: var(--branco);
    --corDaFonte: var(--verde);
}
.tema-escuro{
    --corDeFundo: var(--preto);
    --corDaFonte: var(--verde);
}